<section class="p-3 p-lg-5">
  <h1>Book Histories</h1>

  <table class="table">
    <thead>
    <tr>
      <th>User email</th>
      <th>Book title</th>
      <th>Book author</th>
      <th>Check out date</th>
      <th>Check in date</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @book_histories.each do |book_history| %>
      <tr>
        <td><%= book_history.user.email %></td>
        <td><%= book_history.book.title %></td>
        <td><%= book_history.book.author %></td>
        <td><%= book_history.check_out_date %></td>
        <td>
          <% if book_history.check_in_date.nil? %>
            <p style="color:red">not returned</p>
          <% else %>
            <%= book_history.check_in_date %>
          <% end %>
        </td>
        <% if book_history.book.is_borrowed? %>
          <td><%= link_to "return", admin_book_history_return_path(book_history), data: { confirm: 'Are you sure?' }, method: :post, class: "btn btn-info", style: "color: #ffffff" %></td>
        <% end %>
        <td><%= link_to 'Edit', edit_admin_book_history_url(book_history), class: "btn btn-warning", style: "color: #ffffff" %></td>
        <td><%= link_to 'Destroy', admin_book_history_url(book_history), method: :delete, data: { confirm: 'Are you sure?' },  class: "btn btn-danger", style: "color: #ffffff" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</section>
<%= will_paginate @book_histories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>

