<section class="p-3 p-lg-5">
<h1>Book Histories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Book title</th>
      <th>Book author</th>
      <th>Check out date</th>
      <th>Check in date</th>
    </tr>
  </thead>

  <tbody>
    <% @book_histories.each do |book_history| %>
      <tr>
        <td><%= book_history.book.title %></td>
        <td><%= book_history.book.author %></td>
        <td><%= book_history.check_out_date %></td>
        <td>
          <% if book_history.book.is_borrowed? %>
            <p style="color:red">not returned</p>
          <% else %>
            <%= book_history.check_in_date %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</section>

<%= will_paginate @book_histories, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
